*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    padding: 15px;
}

.logo{
    flex: 1;
    /* width: 25%; */
    text-align: center;
}

.logo h1{
    color: white;
}

.menu{
    /* width: 50%; */
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li{
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
}

.dwnld-btn{
    /* width: 25%; */
    flex: 1;
    align-items: center;
    text-align: center;
}

.dw-btn{
    border: none;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

section{
    border: 2px solod white;
    display: flex;
    position: relative;
    top: 21vh;
    justify-content: center;
}

.txt{
    border: 2px solid white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
}

.txt h1{
    margin-left: 20px;
}

span{
    color: red;
}

p{
    line-height: 25px;
    margin-bottom: 50px;
}

.btn{
    display: flex;
    gap: 20px;
}

.btn1{
    border: none;
    padding: 10px;
    margin-left: 5px;
    background-color: red;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.pfp{
    border: 2px solid white;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}

.pfp img{
    width: 350px;
    position: absolute;
    left: 180px;

}